<p>Add a new document</p>
<form action="/" method="post">
  <input type="text" name="new_doc">
  <input type="submit" value="Submit">
</form>

<% content_for :page_title do %>
  <title>Simple CMS - New Document</title>
<% end %>